.grpchklstgrpmem {
    display: flex;
    flex-direction: row;
}

.grpchklstgrpmem-checkbox-col {
    display: flex;
    flex-direction: row;
}

.grpchklstgrpmem-checkbox {
    margin: auto !important;
    margin-right: 0.5rem !important;
    -webkit-appearance: checkbox !important;
}

.grpchklstgrpmem-checkbox:before,
.grpchklstgrpmem-checkbox:after
{
    display: none !important;
}

.grpchklstgrpmem-data-col {
    flex-grow: 0;
    flex-shrink: 0;
    white-space: nowrap;
    padding-right: 1rem;
}

.grpchklstgrpmem-data-col-clickable {
    text-decoration: underline;
    text-underline-offset: 0.1rem;
    cursor: pointer;
    color: #2646df;
}