.grpchklst {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.grpchklst-content {
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid #ccc;
    height: 100%;
    padding: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.grpchklst-content-scroller {
    overflow-y: auto;
    overflow-x: visible;
    height: 100%;
}




