.grpchklstgrp {
    display: flex;
    flex-direction: column;
    position: relative;
}

.grpchklstgrp-header {
    display: flex;
}

.grpchklstgrp-body {
    padding-left: 1.5rem;
}

.grpchklstgrp-expander {
    width: 0.8rem;
    margin: auto 0 auto 0;
    top: 0 !important;
}

.grpchklstgrp-header-label {
    color: #2646df;
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 0.5rem;
}